.container {
  margin-top: 40px;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 900px;
  border: rgba(34, 92, 84, 0.911) solid 2px;
  border-radius: 8px;
  background-color: rgba(78, 211, 191, 0.137);
}
